@model LibraryManagement.Models.StudentsManagersViewModels
@using LibraryManagement.Utils;
@{
    ViewBag.Title = "LoginStudents";
}

<h2>@UtilResources.GetLabel("Connexion")</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginFormStudent">
            @using (Html.BeginForm("LoginStudents", "Accounts", FormMethod.Post, new { onsubmit = "return isValid();" }))
            {
                @Html.AntiForgeryToken()
                <h4>@UtilResources.GetLabel("Utiliser un compte étudiant pour vous connecter.")</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.student.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.student.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.student.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.student.StudentPassword, @UtilResources.GetLabel("MotDePasse"), new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.student.StudentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.student.StudentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}