@model LibraryManagement.Models.StudentsManagersViewModels
@using LibraryManagement.Utils;
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginFormStudent">
            @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { onsubmit = "return isValid();" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a student account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.student.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.student.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.student.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.student.StudentPassword, @UtilResources.GetLabel("MotDePasse"), new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.student.StudentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.student.StudentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-8">
        <section id="loginFormManager">
            @using (Html.BeginForm("LoginManagers", "Accounts", FormMethod.Post, new { onsubmit = "return isValid();" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a manager account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.manager.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.manager.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.manager.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.manager.ManagerPassword, @UtilResources.GetLabel("MotDePasse"), new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.manager.ManagerPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.manager.ManagerPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}