@model LibraryManagement.Models.Book
@using LibraryManagement.Utils;

<script src="@Url.Content("~/Scripts/Booking.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/BookDeliveries.css">

@Html.AntiForgeryToken()
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="researchForm">
        <div class="form-horizontal">
            <h2>Création d'une réservation</h2>
            <hr />
            <h3>@UtilResources.GetLabel("Rechercher livre")</h3>
            <div class="form-group">
                @Html.Label(@UtilResources.GetLabel("Numero ISBN/EAN/UPC") + " :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="BookInfo" name="BookInfo" class="form-control">
                    <br />
                    <button type="button" id="SearchBooks" name="SearchBooks" class="btn btn-default" onclick="findLivre()">@UtilResources.GetLabel("Rechercher")</button>
                </div>
                <table id="book" class="table">
                    <tr>
                        <th>noISBN</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Étudiant</th>
                        <th>État</th>
                        <th>Prix</th>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" id="confirmExp" name="confirmExp" onclick="confirmExp()" class="btn btn-default">Fin de la réservation</button>
                </div>
            </div>

            <hr />
        </div>
    </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
