@model LibraryManagement.Models.BookingCoopViewModel
@using LibraryManagement.Utils;

<script src="@Url.Content("~/Scripts/Booking.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/BookDeliveries.css">

@Html.AntiForgeryToken()
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="researchForm">
        <div class="form-horizontal">
            <h2>@UtilResources.GetLabel("Création d'une réservation")</h2>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.coop.IDCooperative, @UtilResources.GetLabel("Coopérative") + " :", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IDCooperative", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.coop.IDCooperative, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <h3>@UtilResources.GetLabel("Rechercher livre")</h3>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" id="BookInfo" name="BookInfo" placeholder="Auteur, Titre, ISBN, UPC, etc" class="form-control">
                    <br />
                    <button type="button" id="SearchBooks" name="SearchBooks" class="btn btn-default" onclick="findLivre()">@UtilResources.GetLabel("Rechercher")</button>
                </div>
                <table id="book" class="table">
                    <tr>
                        <th>@UtilResources.GetLabel("Numero ISBN/EAN/UPC")</th>
                        <th>@UtilResources.GetLabel("Titre")</th>
                        <th>@UtilResources.GetLabel("Auteur")</th>
                        <th>@UtilResources.GetLabel("Étudiant")</th>
                        <th>@UtilResources.GetLabel("État du livre")</th>
                        <th>@UtilResources.GetLabel("Prix neuf")</th>
                        <th>@UtilResources.GetLabel("Coopérative")</th>
                    </tr>
                </table>
            </div>

            

            <hr />
        </div>
    </div>
}

        <div>
            @Html.ActionLink(@UtilResources.GetLabel("Retour"), "Index")
        </div>
