@using Microsoft.AspNet.Identity
@using LibraryManagement.Utils;

@{
    List<SelectListItem> selectList = new List<SelectListItem>()
    {
        new SelectListItem() {Text=UtilResources.GetLabel("Etudiant"), Value="Students"},
        new SelectListItem() {Text=UtilResources.GetLabel("Gestionnaire"), Value="Managers" }
    };

    List<SelectListItem> selectListLogin = new List<SelectListItem>()
    {
        new SelectListItem() {Text=UtilResources.GetLabel("Etudiant"), Value="Students"},
        new SelectListItem() {Text=UtilResources.GetLabel("Gestionnaire"), Value="Managers" }
    };
}

<style type="text/css">
    Select {
    background-color:#222222;
    color: darkgray;
    Border: none;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    }

    Select.specialeffect:hover { 
    color: White;
}
</style>

@if (AccountManagement.isConnected() != null)
{
    using (Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(UtilResources.GetLabel("Bonjour") + " " +  AccountManagement.getNomUtilisateur(), "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="@Url.Action("LogOff","Accounts")">@UtilResources.GetLabel("Déconnexion")</a></li>
        <li><a href="@Url.Action("setLanguage","Language")">@UtilResources.GetLabel("Langues")</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>@Html.DropDownListFor(x => selectList, selectList, UtilResources.GetLabel("Nouveau Compte"), new { @id = "newAccounts",@class = "specialeffect" })</a></li>
        <li><a>@Html.DropDownListFor(x => selectListLogin, selectListLogin, UtilResources.GetLabel("Connexion"), new { @id = "Login", @class = "specialeffect" })</a></li>
        @Html.Hidden("LoginStudents", Url.Action("LoginStudents", "Accounts"))
        @Html.Hidden("LoginManagers", Url.Action("LoginManagers", "Accounts"))

        <li><a href="@Url.Action("setLanguage","Language")">@UtilResources.GetLabel("Langues")</a></li>
        @Html.Hidden("StudentsNewAccount", Url.Action("Create", "Students"))
        @Html.Hidden("ManagersNewAccount", Url.Action("Create", "Managers"))
    </ul>
}

<script type="text/javascript">
$(document).ready(function (){
    $('#newAccounts').change(function () {
        switch ($(this).val()) {
            case "Students":
                var url = $("#StudentsNewAccount").val();
                location.href = url;
                break;
            case "Managers":
                var url = $("#ManagersNewAccount").val();
                location.href = url;
                break;
            default:
        }
    });
});

$(document).ready(function () {
    $('#Login').change(function () {
        switch ($(this).val()) {
            case "Students":
                var url = $("#LoginStudents").val();
                location.href = url;
                break;
            case "Managers":
                var url = $("#LoginManagers").val();
                location.href = url;
                break;
            default:
        }
    });
});
</script>
