@using Microsoft.AspNet.Identity
@using LibraryManagement.Utils;

@{
    List<SelectListItem> selectList = new List<SelectListItem>()
    {
        new SelectListItem() {Text=UtilResources.GetLabel("Etudiant"), Value="Students"},
        new SelectListItem() {Text=UtilResources.GetLabel("Gestionnaire"), Value="Managers" }
    };
}

<style type="text/css">
    Select {
    background-color:#222222;
    color: darkgray;
    Border: none;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    }

    Select.specialeffect:hover { 
    color: White;
}
</style>

@if (AccountManagement.isConnected() != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + AccountManagement.nomUtilisateur +   "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>@Html.DropDownListFor(x => selectList, selectList, UtilResources.GetLabel("Nouveau Compte"), new { @id = "newAccounts",@class = "specialeffect" })</a></li>
        <li>@Html.ActionLink(@UtilResources.GetLabel("Connexion"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li><a href="@Url.Action("setLanguage","Language")">@UtilResources.GetLabel("Langues")</a></li>
        @Html.Hidden("StudentsNewAccount", Url.Action("Create", "Students"));
        @Html.Hidden("ManagersNewAccount", Url.Action("Create", "Managers"));
    </ul>
}

<script type="text/javascript">
$(document).ready(function (){
    $('#newAccounts').change(function () {
        switch ($(this).val()) {
            case "Students":
                var url = $("#StudentsNewAccount").val();
                location.href = url;
                break;
            case "Managers":
                var url = $("#ManagersNewAccount").val();
                location.href = url;
                break;
            default:
        }
    });
});
</script>
