@using LibraryManagement.Utils
<div class="jumbotron">
    <h1>@UtilResources.GetLabel("Bienvenue sur GestionBibliotheque")</h1>
    @if (AccountManagement.isConnected() == null)
    {
        <p>@UtilResources.GetLabel("Veuillez vous connecter pour accéder aux fonctionnalités de Gestion Bibliothèque")</p>
    }
    else
    {
        <p>@UtilResources.GetLabel("Bonjour") @AccountManagement.getNomUtilisateur()</p>
    }

</div>

<div class="row">
    <!-- Pages étudiantes-->
    @if (AccountManagement.isConnected() != null && AccountManagement.getEstManager() == false)
    {
        <div class="col-md-4">
            <h2>@UtilResources.GetLabel("Ajouter un livre")</h2>
            <p>
                @UtilResources.GetLabel("Information page ajouter un livre")
            </p>
            <p><input type="button" title="AjoutLivre" value="@UtilResources.GetLabel("Ajouter un livre")" onclick="location.href='@Url.Action("Create", "Books")'" /></p>
        </div>

        <div class="col-md-4">
            <h2>@UtilResources.GetLabel("Réserver un livre")</h2>
            <p>
                @UtilResources.GetLabel("Information page Réserver un livre")
            </p>
            <!-- a changé-->
            <p><input type="button" title="ReservationLivre" value="@UtilResources.GetLabel("Réserver un livre")" onclick="location.href='@Url.Action("Create", "Books")'" /></p>
        </div>
    }
    <!-- Pages Gestionnaires-->
    @if (AccountManagement.isConnected() != null && AccountManagement.getEstManager() == true)
    {
        <div class="col-md-4">
            <h2>@UtilResources.GetLabel("Remise de livre")</h2>
            <p>
                @UtilResources.GetLabel("Information page Remise de livre")
            </p>
            <p><input type="button" title="RemiseLivre" value="@UtilResources.GetLabel("Remise de livre")" onclick="location.href='@Url.Action("Create", "BookDelivery")'" /></p>
        </div>

        <div class="col-md-4">
            <h2>@UtilResources.GetLabel("Demande de livraison")</h2>
            <p>
                @UtilResources.GetLabel("Information page Demande de livraison")
            </p>
            <p><input type="button" title="Livraison" value="@UtilResources.GetLabel("Demande de livraison")" onclick="location.href='@Url.Action("Index", "Deliveries")'" /></p>
        </div>
    }
</div>