@model LibraryManagement.Models.Student
@using LibraryManagement.Utils;
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Create";
}

<h2>@UtilResources.GetLabel("Nouveau Compte") @UtilResources.GetLabel("Etudiant")</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, @UtilResources.GetLabel("Prenom")+" :", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, @UtilResources.GetLabel("Nom")+ " :", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, @UtilResources.GetLabel("Courriel")+ " :", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, @UtilResources.GetLabel("Telephone")+ " :", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentPassword, @UtilResources.GetLabel("MotDePasse")+ " :", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
            <div class="col-md-10">
                <input type="password" id="password1" name="password1" class="form-control"> 
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@UtilResources.GetLabel("ConfirmMotDePasse")+ " :", htmlAttributes: new { @class = "control-label col-md-2", required="required" })
            <div class="col-md-10">
                <input type="password" id="password2" name="password2" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@UtilResources.GetLabel("Creer")" class="btn btn-default" onclick="passwordMatch()"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@UtilResources.GetLabel("Retour"), "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
