@using Microsoft.AspNet.Identity
@using LibraryManagement2.Utils;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@UtilResources.GetLabel("Nouveau Compte"), "Index", "Students")</li>
        <li>@Html.ActionLink(@UtilResources.GetLabel("Gestionnaire"), "Create", "Managers")</li>
        <li>@Html.ActionLink(@UtilResources.GetLabel("Connexion"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li><a href="#">@UtilResources.GetLabel("Langues")</a></li>
    </ul>
}
